<%- include('includes/head.ejs') %>


<body>
    <h1 id="principal">Este sitio es de caricaturas favoritas</h1>
    <h2><%= username %>, agrega tu caricatura favorita:</h2>
    <br><br>
    <form action="/audioVisual/nuevaCaricatura" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <label for="nombre">Nombre: </label> 
    <input type="text" id="nombre" name="nombre" placeholder="Danny Phantom">
    <br><br>
    <label for="nombre">Sinopsis: </label> <br>
    <textarea rows = "5" cols = "60" id = "sinopsis" name = "sinopsis" placeholder="Danny, que se llama a sí mismo 'Danny Phantom' en forma fantasma, desarrolla la capacidad de volar, volverse invisible, volverse intangible y eclipsar (poseer y controlar) a las personas después de aprender a cambiar de un lado a otro a voluntad sus formas fantasma y humana."></textarea><br>
    <br><br>
    <label for="nombre">Imagen: </label> <br>
    <textarea rows = "2" cols = "60" id = "imagen" name = "imagen" placeholder="https://http2.mlstatic.com/D_NQ_NP_605910-MLM42826018524_072020-W.jpg"></textarea><br>
    <br><br>
    <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/audioVisual"><button type="button" class="btn btn-secondary">Regresar a los TOPS de audio visuales</button></a>
    </div>
    <br>
    </body>


<%- include('includes/foot.ejs') %>