<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Este sitio es de bandas favoritas</h1>
    <h2><%= username %>, agrega tu bandafavorita:</h2>
    <br><br>
    <form action="/musica/nuevaBanda" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <label for="nombre">Nombre: </label> 
    <input type="text" id="nombre" name="nombre" placeholder="AC/DC">
    <br><br>
    <label for="nombre">Sinopsis: </label> <br>
    <textarea rows = "5" cols = "60" id = "sinopsis" name = "sinopsis" placeholder="AC/DC es una banda de hard rock británica-australiana, formada en 1973 en Australia por los hermanos escoceses Malcolm Young y Angus Young."></textarea><br>
    <br><br>
    <label for="nombre">Imagen: </label> <br>
    <textarea rows = "2" cols = "60" id = "imagen" name = "imagen" placeholder="https://fotos00.deia.eus/2020/10/07/1024x341/ac-dc.jpg"></textarea><br>
    <br><br>
    <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/musica"><button type="button" class="btn btn-secondary">Regresar a los TOPS de audio visuales</button></a>
    </div>
    <br>
    </body>

<%- include('includes/foot.ejs') %>